{% extends 'layout.html' %}

{% block content %}

<button class="btn btn-icon btn-outline-dark" onClick="javascript:history.go(-1);">
    <i class='bx bx-arrow-back'></i>
</button><br><br>

<h4 class="fw-bold py-3 mb-4"><center>Students Competitve examination</center></h4>
{% if not from_dashboard %}
    <a href="{% url 'competitve_examination_create' %}" class="btn btn-primary">
        <span class="tf-icons bx bx-list-plus"></span>&nbsp; Add
    </a>
{% endif %}

<div class="card mt-4">
    <div class="table-responsive text-nowrap mt-3">
        <table class="table py-3" id="example">
            <thead>
                <tr>
                    <th></th>
                    <th>Year</th>
                    <th>Name of the Activity</th>
                    <th>Number of students Attended</th>
                    <th>Number of students placed</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                {% for competitve_examination in competitve_examinations %}
                <tr>
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-dark btn-sm dropdown-toggle dropdown-toggle-split" 
                                    data-bs-toggle="dropdown" aria-expanded="true">
                                <i class="bx bx-cog"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'competitve_examination_update' competitve_examination.psk_id %}">Edit</a></li>
                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalToggleDelete{{ competitve_examination.psk_id }}">Delete</a></li>
                            </ul>
                        
                            <div class="modal fade" id="modalToggleDelete{{ competitve_examination.psk_id }}" tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Delete</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete this record?
                                        </div>
                                        <div class="modal-footer">
                                            <a href="{% url 'competitve_examination_delete' competitve_examination.psk_id %}" class="btn btn-danger"><i class="bx bxs-trash"></i> Yes</a>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bx bx-x"></i> No</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    
                    <td>{{ competitve_examination.year_range }}</td>
                    <td>{{ competitve_examination.name_of_the_activity }}</td>
                    <td>{{ competitve_examination.number_of_students_attended }}</td>
                    <td>{{ competitve_examination.number_of_students_placed }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}