{% extends 'layout.html' %}

{% block content %}

<button class="btn btn-icon btn-outline-dark" onClick="javascript:history.go(-1);">
    <i class='bx bx-arrow-back'></i>
</button><br><br>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h4 class="fw-bold py-3 mb-2"><center>Research Article Publication</center></h4>
    <div class="card mb-4">
        <div class="card-body">
            {% comment %} <h5>Research Article Publication</h5> {% endcomment %}
            {% comment %} <div class="row">

                <!-- Staff ID -->
                <div class="mb-3 col-md-3">
                    <label for="employee_id" class="form-label">Staff ID</label>
                    <input type="text" class="form-control" id="employee_id" name="employee_id" value="{{ research.employee_id }}" readonly>
                </div>

                <!-- Staff Name (auto-filled) -->
                <div class="mb-3 col-md-3">
                    <label for="stf_name" class="form-label">Staff Name</label>
                    <input type="text" class="form-control" id="stf_name" name="stf_name" value="{{ research.staff_name }}" readonly>
                </div>

                <!-- Department Name (auto-filled) -->
                <div class="mb-3 col-md-3">
                    <label for="department_name" class="form-label">Department Name</label>
                    <input type="text" class="form-control" id="department_name" name="department_name" value="{{ research.department_name }}" readonly>
                </div>
            </div> {% endcomment %}
            <div class="row">
                <!-- Paper Title -->
                <div class="mb-3 col-md-3">
                    <label for="paper_title" class="form-label">Paper Title</label>
                    <input type="text" class="form-control" id="paper_title" name="paper_title" value="{{ research.paper_title }}">
                </div>

                <!-- Author Name -->
                <div class="mb-3 col-md-3">
                    <label for="author_name" class="form-label">Author Name</label>
                    <input type="text" class="form-control" id="author_name" name="author_name" value="{{ research.author_name }}">
                </div>

                <!-- Journal Name -->
                <div class="mb-3 col-md-3">
                    <label for="journal_name" class="form-label">Journal Name</label>
                    <input type="text" class="form-control" id="journal_name" name="journal_name" value="{{ research.journal_name }}">
                </div>

               <div class="mb-3 col-md-3">
                    <label for="publication_year" class="form-label">Publication Year</label>
                    <div class="input-group">
                        <select class="form-control" id="publication_year" name="publication_year" required>
  {% for y in publication_years %}
    <option value="{{ y|slice:":4"  }}" {% if book.publication_year == y %}selected{% endif %}>
      {{ y }}
    </option>
  {% endfor %}
</select>
</div>
</div>
                

                

                <!-- ISSN Number -->
                <div class="mb-3 col-md-3">
                    <label for="issn_number" class="form-label">ISSN Number</label>
                    <input type="text" class="form-control" id="issn_number" name="issn_number" value="{{ research.issn_number }}">
                </div>

                <!-- UGC Recognition Link -->
                <div class="mb-3 col-md-3">
                    <label for="ugc_recognition_link" class="form-label">UGC Recognition Link</label>
                    <input type="url" class="form-control" id="ugc_recognition_link" name="ugc_recognition_link" value="{{ research.ugc_recognition_link }}">
                </div>

                <!-- Issue Date -->
                <div class="mb-3 col-md-3">
                    <label for="issue_date" class="form-label">Issue Date</label>
                    <input type="date" class="form-control" id="issue_date" name="issue_date" value="{{ research.issue_date }}">
                </div>

                <!-- Journal Nature -->
                <div class="mb-3 col-md-3">
                    <label for="journal_nature" class="form-label">Journal Nature</label>
                    <input type="text" class="form-control" id="journal_nature" name="journal_nature" value="{{ research.journal_nature }}">
                </div>
                
                <div class="mb-3 col-md-3">
                    <label for="doi_url_link" class="form-label">Doi Link</label>
                    <input type="text" class="form-control" id="doi_url_link" name="doi_url_link" value="{{ research.doi_url_link }}">
                </div>
            </div>
            <div class="row">
                <!-- File Upload Fields -->
                {% for child in child_files|dictsort:"psk_id" %}
                    {% if forloop.counter == 1 %}
                        <div class="mb-3 col-md-3">
                            <label for="file_{{ child.psk_id }}_JCP" class="form-label">Journal Cover Page (JCP)</label>
                            <input type="file" name="file_{{ child.psk_id }}_JCP" id="file_{{ child.psk_id }}_JCP" class="form-control" accept="application/pdf" aria-label="Journal Cover Page">
                            <div class="error-message" id="error-file_{{ child.psk_id }}_JCP" style="color: red;">
                                <small style="color: grey; text-align: left; margin-left: -10px;">
                                    <a href="https://api.hcaschennai.edu.in/crudapp/view/media/naac01_research_article_publication_dc1_media/{{ child.psk_id }}" class="btn btn-link" target="_blank">{{ child.file_name }}</a>
                                </small>
                            </div>
                        </div>
                    {% elif forloop.counter == 2 %}
                        <div class="mb-3 col-md-3">
                            <label for="file_{{ child.psk_id }}_IP" class="form-label">Index Page (IP)</label>
                            <input type="file" name="file_{{ child.psk_id }}_IP" id="file_{{ child.psk_id }}_IP" class="form-control" accept="application/pdf" aria-label="Index Page">
                            <div class="error-message" id="error-file_{{ child.psk_id }}_IP" style="color: red;">
                                <small style="color: grey; text-align: left; margin-left: -10px;">
                                    <a href="https://api.hcaschennai.edu.in/crudapp/view/media/naac01_research_article_publication_dc1_media/{{ child.psk_id }}" class="btn btn-link" target="_blank">{{ child.file_name }}</a>
                                </small>
                            </div>
                        </div>
                    {% elif forloop.counter == 3 %}
                        <div class="mb-3 col-md-3">
                            <label for="file_{{ child.psk_id }}_IF" class="form-label">Impact Factor (IF)</label>
                            <input type="file" name="file_{{ child.psk_id }}_IF" id="file_{{ child.psk_id }}_IF" class="form-control" accept="application/pdf" aria-label="Impact Factor">
                            <div class="error-message" id="error-file_{{ child.psk_id }}_IF" style="color: red;">
                                <small style="color: grey; text-align: left; margin-left: -10px;">
                                    <a href="https://api.hcaschennai.edu.in/crudapp/view/media/naac01_research_article_publication_dc1_media/{{ child.psk_id }}" class="btn btn-link" target="_blank">{{ child.file_name }}</a>
                                </small>
                            </div>
                        </div>
                    {% elif forloop.counter == 4 %}
                        <div class="mb-3 col-md-3">
                            <label for="file_{{ child.psk_id }}_CI" class="form-label">Citation Index (CI)</label>
                            <input type="file" name="file_{{ child.psk_id }}_CI" id="file_{{ child.psk_id }}_CI" class="form-control" accept="application/pdf" aria-label="Citation Index">
                            <div class="error-message" id="error-file_{{ child.psk_id }}_CI" style="color: red;">
                                <small style="color: grey; text-align: left; margin-left: -10px;">
                                    <a href="https://api.hcaschennai.edu.in/crudapp/view/media/naac01_research_article_publication_dc1_media/{{ child.psk_id }}" class="btn btn-link" target="_blank">{{ child.file_name }}</a>
                                </small>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

            <!-- Form Actions -->
            <div class="text-end mt-4">
                <button type="submit" class="btn btn-primary">Update</button>
                <a href="{% url 'research_list' %}">
                    <button type="button" class="btn btn-primary">Cancel</button>
                </a>
            </div>
        </div>
    </div>
</form>




{% endblock %}
